<form class='card-form' name= 'card-form' action='/payjp' id='charge-form' method="POST">
  <div class='form-wrap'>
    <label> カード番号</label>
    <input class="number" placeholder="カード番号(半角英数字)" maxlength="16" size="16" type="text" name="number" id="number">
  </div>
  <div class='form-wrap'>
    <label> CVC</label>
    <input class="cvc" placeholder="カード背面4桁もしくは3桁の番号" maxlength="4" size="4" type="text" name="cvc" id="cvc">
  </div>
  <div class='form-wrap'>
    <label> 有効期限</label>
    <div class='input-expiration-date-wrap'>
      <textarea class="exp_month" placeholder="例)3" name="exp_month" id="exp_month"></textarea>
      <p>月</p>
      <textarea class="exp_year" placeholder="例)23" name="exp_year" id="exp_year"></textarea>
      <p>年</p>
    </div>
  </div>
  <button type="submit">送信</button>
</form>